cryptography
Flask
flask_caching
icalendar
python-dotenv
requests
pytrakt @ git+https://github.com/radityaharya/python-pytrakt.git@main
pymongo[srv]
gunicorn
sentry-sdk[flask]
werkzeug>=3.0.1 # not directly required, pinned by Snyk to avoid a vulnerability